*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
    width: 100vw;
    height: 100vh;
}

header, footer{
    color: white;
    background: black;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
section{
    padding: 20px;
    width: 100vw;
    min-height: 400px;
    font-size: 1.5rem;
}

footer{
    height: 120px;
}

#sect1 {
    background-image: url("img/img597.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}