html, body{
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box; 
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    width: 100dvw;
    background-color: paleturquoise;
}

.propicImage {
    border-radius: 50%;
    width: 75%;
    height: auto;
    border: 1px solid black;
}

.infoSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    background-image: url(background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;
}
.infoDiv {
    width: 50%;
    height: auto;
    border-radius: 20px;
    border: 1px solid black;
    padding: 2%;
    background-color: white;
}

ul{
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

footer{
    padding: 5%;
    width: 100dvw;
    height: auto;
    background-color: palegreen;
}