*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    scroll-snap-type: y mandatory;
    background-color: white;
    color: #0A1C0F;
    overflow-x: hidden;
    width: 100vw;
    height: 100dvh;
}
html::-webkit-scrollbar,
.slider::-webkit-scrollbar{
    display: none;
}

footer{
    color: white;
    background: #0A1C0F;
    a{
        color: transparent;
        i{
            color: coral;
        }
    }
}
a{
    color: coral;
}

.propic { 
    height: 80px;
    border-radius: 50%;
    text-align: left;
}
section, footer{
    scroll-snap-align: start;
}

section{
    padding: 20px;
    width: 100vw;
    height: 100vh;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#sect1, #sect2 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sect1{ background-image: url("img/bg1.png"); }
#sect2{ 
    display: flex;
    flex-direction: column;
    background-image: url("img/bg2.png"); 
}
.aboutMe{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}
.linksH2{
    text-align: center;
    color: #fff;
    padding: 10px;
}
.slider {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    scroll-snap-type: x mandatory;
    width: 100vw;
    box-sizing: border-box;
    padding: 20px;
}

.slider-content {
    flex: 0 0 auto; /* Prevents flex items from shrinking or growing */
    margin: 0 2.5vw; /* Adjust this value as needed for spacing between items */
}

.slider > * {
    scroll-snap-align: center;
}
#left {
    margin-left: 50vw; /* Ensure the first item is centered */
}

#right {
    margin-right: 50vw; /* Ensure the last item is centered */
}
.hidden,
.hiddenRight {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}
.hidden{
    transform: translateX(-100%);
}
.hiddenRight{
    transform: translateX(100%);
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.boxFiltered{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 2px 3px 8px 5px rgba(0, 0, 0, 0.59);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: #0A1C0F;
}

.box{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    .propic{
        width: 50%;
        height: auto;
        border-radius: 50%;
    }
}

.contacts{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    padding: 10px;
}
.contacts > *{
    margin: 10px;
}

.aBtn{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 25px;
    background-color: black;
    cursor: pointer;
}
.links i{
    margin-inline: 20px
}
.description {
    text-align: center;
    padding: 10px;
    display: inline;
}
.interests{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
@media only screen and (max-width: 768px) {
    section{
        height: 100vh;
    }
    .slider-container{
        margin: 10%;
    }
    .aboutMe{
        font-size: 1.1rem;
    }
}