*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body { padding: 0; margin: 0 }
header{
    background: #0A1C0F;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    position: relative;
    top: 0;
    right: 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    nav ul{
        display: flex;
        justify-content: inherit;
        align-items: center;
        text-align: center;
        list-style: none;
        li a{
            text-decoration: none;
            color: salmon;
        }
    }
    img{
        height: 60px;
        width: auto;
        border-radius: 50%;
    }
}
#unity-container { 
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#unity-canvas { background: #0A1C0F; }
.unity-mobile #unity-canvas { 
    width: 100%; 
    height: 100% 
}
#unity-loading-bar { 
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    display: none 
}
#unity-logo { 
    width: 154px; 
    height: 130px; 
    background: url('unity-logo-dark.png') no-repeat center 
}
#unity-progress-bar-empty { 
    width: 141px; 
    height: 18px; 
    margin-top: 10px; 
    margin-left: 6.5px; 
    background: url('progress-bar-empty-dark.png') no-repeat center 
}
#unity-progress-bar-full { 
    width: 0%; 
    height: 18px; 
    margin-top: 10px; 
    background: url('progress-bar-full-dark.png') no-repeat center 
}
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { 
    float:left; 
    width: 204px; 
    height: 38px; 
    background: url('webgl-logo.png') no-repeat center 
}
#unity-build-title { 
    float: right; 
    margin-right: 10px; 
    line-height: 38px; 
    font-family: arial; 
    font-size: 18px 
}
#unity-fullscreen-button { 
    cursor:pointer; 
    float: right; 
    width: 38px; 
    height: 38px; 
    background: url('fullscreen-button.png') no-repeat center 
}
#unity-warning { 
    position: absolute; 
    left: 50%; 
    top: 5%; 
    transform: translate(-50%); 
    background: white; 
    padding: 10px; 
    display: none 
}
